* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
    background: rgb(231, 230, 230);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
  /* background: linear-gradient(90deg, #ffffff 0%, #d8dada 90%); */
}
header {
  padding: 5px 0px;
  top: 0px;
  left: 0px;
  z-index: 3;
  background-color: rgb(0, 0, 0);
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
  opacity: 0.95;
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  width: 99px;
}
header .container form {
  width: 30%;
  padding: 10px 15px;
}
header .container form div input {
  width: 130%;
  padding: 10px 15px;
}
header .container a {
  color: white;
  text-decoration: none;
  margin: 0px 15px;
  font-size: 20px;
  transition: all 0.3s ease-in;
}
header .container a:hover {
  color: rgb(39, 119, 139);
}
header nav ul li {
  display: inline-block; /* volver horizontal la lista */
}
.container {
  width: 1140px;
  margin: 0px auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container-all {
  max-width: 1000px;
  margin: auto;
  margin-top: 100px;
}
.title-categorias{
  text-align: center;
  font-size: 40px;
  margin: auto;
}
.container-caja {
    justify-content: center;
    display: flex; /* pone las cajas horizontales */
    /* flex-wrap: wrap; */ /* para poner abajo cuando no hay espacio al lado */

}
.container-caja a {
    text-decoration: none;
    color: black;
}
.caja {
  width: 250px;
  height: 280px;
  padding: 20px;
  margin: 20px;
  background: rgb(244, 242, 242);
  /* box-shadow: 1.5px 1.5px 1.5px 1.5px black; */
  text-align: center;
  position: relative;
  overflow: hidden; /* desaparece la animacion */
  cursor: pointer; /* cambia el cursor a forma de manita */
  transition: 300ms;
}

.caja:hover {
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 20px -10px rgb(0, 0, 0, 0.5);
}
.caja .icon,
.caja h4,
.caja p {
  position: relative; /* para que funcione la animación y se ponga por encima*/
  z-index: 1; /* para que se ponga encima de todo */
  transition: all 300ms;
}

.caja .icon {
  font-size: 40px;
  color: cadetblue;
  transform: translatey(30px);
}

.caja:hover .icon {
  color: #ffffff;
  font-size: 30px;
  transform: translateY(0);
}

.caja h4,
.caja p {
  margin-top: 10 px;
}
.caja h4 {
  font-size: 30px;
  transform: translatey(30px);
}
.caja:hover h4 {
  transform: translateY(0);
  color: white;
}
.caja p {
  font-size: 14px;
  transform: translatey(100px); /* moverlo 100px en el eje y */
  opacity: 0;
}

.caja:hover p {
  transform: translateY(0);
  opacity: 1;
  color: white;
}

.caja .animacion {
  width: 100px;
  height: 100px;
  background-color: brown;
  position: absolute;
  top: 250px;
  left: -170px;
  border-radius: 100%;
  transition: all 300ms;
  background: linear-gradient(to bottom, rgb(255, 177, 9), rgb(68, 63, 3));
}

.caja:hover .animacion {
  /* para que cuando se pasa el mouse realice la animación */
  width: 400px;
  height: 400px;
  top: -170px;
  left: -70px;
}
/* cambiar color de las diferentes cajas */

.caja1 .icon{
    color: rgb(130, 100, 44);
}
.caja3 .icon{
    color: rgb(135, 2, 44);
}

.caja2 .animacion {
    background: linear-gradient(to bottom, rgb(9, 255, 230), rgb(3, 56, 68));
}

.caja3 .animacion {
    background: linear-gradient(to bottom, rgb(255, 9, 87), rgb(68, 3, 28));
}

/* Esto siempre al final */
.pie-pagina {
  position: relative;
 width: 100%;
 background-color: black;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}  
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.pie-pagina .grupo-1 .box figure img{
  width: 150px;
}
.pie-pagina .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right:10px;
  background-color: #050e17;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #050e17;
  padding: 15px 10px;
  text-align: center;
  color: white;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and(max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  }  
  
}